@using Winvestate_Offer_Management_Models.Enums.Offer
@using Winvestate_Offer_Management_MVC.Classes
@model ViewModelBase;

@if (Model.Offers != null && Model.Offers.Any(x => x.offer_state_type_system_type_id == (int)OfferStateTypes.WaitingGuarantee || x.offer_state_type_system_type_id == (int)OfferStateTypes.WaitingAgreement))
{

    <div class="row">
        <div class="col-xl-12">
            <div class="card card-custom gutter-b card-collapsed" data-card="true">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">
                            Yeni Başvurular(@Model.Offers.Count(x => x.offer_state_type_system_type_id == (int)OfferStateTypes.WaitingGuarantee || x.offer_state_type_system_type_id == (int)OfferStateTypes.WaitingAgreement) Adet)
                        </h3>
                    </div>
                    <div class="card-toolbar">
                        <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="Tümünü Göster">
                            <i class="ki ki-arrow-up icon-nm"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body py-0">
                    <!--begin::Table-->
                    <div class="table-responsive">
                        <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_3">
                            <thead>
                                <tr class="text-uppercase">
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var loOffer in Model.Offers.FindAll(x => x.offer_state_type_system_type_id == (int)OfferStateTypes.WaitingGuarantee || x.offer_state_type_system_type_id == (int)OfferStateTypes.WaitingAgreement))
                                {
                                    <tr>
                                        <td>
                                            <a target="_blank" href="https://e-teklif.winvestate.com/Asset/AssetDetail?pId=@loOffer.asset_uuid" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">@string.Concat(loOffer.company_prefix, loOffer.asset_no)</a>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loOffer.city</span>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loOffer.district</span>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loOffer.customer_full_name</span>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loOffer.customer_phone</span>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loOffer.row_create_date.Value.ToString("dd.MM.yyyy")</span>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loOffer.row_create_date.Value.ToString("hh:mm")</span>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loOffer.offer_state</span>
                                        </td>
                                        <td>
                                            @if (loOffer.offer_state_type_system_type_id == (int)OfferStateTypes.WaitingGuarantee)
                                            {
                                                <a target="_blank" href="@Common.MespactLinkUrl/Document/showDocument?id=@loOffer.mespact_session_uuid" data-id="@loOffer.row_guid.ToString()" class="btn btn-icon btn-light btn-hover-primary btn-sm" title="Şartnameyi Görüntüle">
                                                    <i class="flaticon-edit-1"></i>
                                                </a>
                                                <a href="#" data-id="@loOffer.row_guid.ToString()" class="btn btn-icon btn-light btn-hover-primary btn-sm confirmForOffer" title="Teminatı Onayla">
                                                    <i class="flaticon2-check-mark"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="#" data-id="@loOffer.mespact_session_uuid" class="btn btn-icon btn-light btn-hover-primary btn-sm resend" title="Şartname Bağlantısını Tekrar Gönder">
                                                    <i class="flaticon2-paperplane"></i>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!--end::Table-->
                </div>
            </div>
        </div>
    </div>
}

@if (Model.User != null && Model.User.offered_assets.Any())
{
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-custom gutter-b card-collapsed" data-card="true">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">
                            Yeni Teklifler (@Model.User.offered_assets.Count Adet)
                        </h3>
                    </div>
                    <div class="card-toolbar">
                        <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="Tümünü Göster">
                            <i class="ki ki-arrow-up icon-nm"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body py-0">
                    <!--begin::Table-->
                    <div class="table-responsive">
                        <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_2">
                            <thead>
                                <tr class="text-uppercase">
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var loAsset in Model.User.offered_assets.OrderByDescending(x => x.last_offer_date))
                                {
                                <tr>
                                    <td class="pl-0">
                                        <a target="_blank" href="https://e-teklif.winvestate.com/Asset/AssetDetail?pId=@loAsset.row_guid" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">@string.Concat(loAsset.company_prefix, loAsset.asset_no)</a>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg"> @loAsset.city</span>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg"> @loAsset.district</span>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg"> @string.Format("{0:N0}", loAsset.max_offer_amount)</span>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loAsset.row_update_date.Value.ToString("dd.MM.yyyy")</span>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loAsset.row_update_date.Value.ToString("hh:mm")</span>
                                    </td>
                                    <td class="pr-0 text-right">
                                        @if (loAsset.state_id == 1 && !loAsset.sale_in_company && Model.User.user_type == 1)
                                        {
                                            <a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm approveSale" title="Satışı Tamamla" data-id="@loAsset.row_guid">
                                                <i class="flaticon2-check-mark"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!--end::Table-->
                </div>
            </div>
        </div>
    </div>
}

@if (Model.ActiveCallbackRecords != null && Model.ActiveCallbackRecords.Any())
{
    <div class="row">
        <div class="col-xl-12">
            <!--begin::List Widget 5-->
            <div class="card card-custom gutter-b card-collapsed" data-card="true">
                <!--begin::header-->
                <div class="card-header border-0">
                    <h3 class="card-title">Aktif Geri Aranma Talepleri (@Model.ActiveCallbackRecords.Count Adet)</h3>
                    <div class="card-toolbar">
                        <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="Tümünü Göster">
                            <i class="ki ki-arrow-up icon-nm"></i>
                        </a>
                    </div>
                </div>
                <!--end::header-->
                <!--begin::Body-->
                <div class="card-body py-0">
                    <!--begin::Table-->
                    <div class="table-responsive">
                        <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_2">
                            <thead>
                                <tr class="text-uppercase">
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var loRecord in Model.ActiveCallbackRecords.OrderByDescending(x => x.row_create_date))
                                {
                                    <tr>
                                        <td>
                                            <a target="_blank" href="https://e-teklif.winvestate.com/Asset/AssetDetail?pId=@loRecord.asset_uuid" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">@string.Concat(loRecord.company_prefix, loRecord.asset_no)</a>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loRecord.city</span>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loRecord.district</span>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loRecord.applicant_name @loRecord.applicant_surname</span>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loRecord.applicant_phone</span>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loRecord.row_create_date.Value.ToString("dd.MM.yyyy")</span>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loRecord.row_create_date.Value.ToString("hh:mm")</span>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loRecord.callback_record_state</span>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loRecord.note</span>
                                        </td>
                                        <td class="pr-0">
                                            <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="flaticon-more-1"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                @if (loRecord.callback_record_state_type_system_type_id == 43)
                                                {
                                                    <a class="dropdown-item changeCallbackStatus" href="#" data-id="@loRecord.row_guid" data-type="44">Ulaşılamadı</a>
                                                }

                                                <a class="dropdown-item changeCallbackStatus" href="#" data-id="@loRecord.row_guid" data-type="45">Görüşüldü</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!--end::Table-->
                </div>
            </div>
            <!--end::List Widget 5-->
        </div>
    </div>
}

