@using Winvestate_Offer_Management_Models.Enums.Offer
@using Winvestate_Offer_Management_MVC.Classes
@model ViewModelBase;

@if (Model.User != null && Model.User.offered_assets.Any())
{
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-custom">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">
                           Aktif Teklifler (@Model.User.offered_assets.Count Adet)
                        </h3>
                    </div>
                </div>
                <div class="card-body py-0">
                    <!--begin::Table-->
                    <div class="table-responsive">
                        <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_2">
                            <thead>
                                <tr class="text-uppercase">
                                    <th class="pl-0" style="min-width: 100px">Gayrimenkul</th>
                                    <th style="min-width: 100px">Durum</th>
                                    <th style="min-width: 120px">Son Teklif (TL)</th>
                                    <th style="min-width: 120px">Son Teklif Tarihi</th>
                                    <th class="pr-0 text-right" style="min-width: 160px">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var loAsset in Model.User.offered_assets.OrderByDescending(x => x.last_offer_date))
                                {
                                    <tr>
                                        <td class="pl-0">
                                            <a target="_blank" href="https://e-teklif.winvestate.com/Asset/AssetDetail?pId=@loAsset.row_guid" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">@string.Concat(loAsset.company_prefix, loAsset.asset_no) - @loAsset.asset_name</a>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg"> @loAsset.state</span>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg"> @string.Format("{0:N0}", loAsset.max_offer_amount)</span>
                                        </td>
                                        <td>
                                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg"> @string.Format("{0:f}", loAsset.row_update_date.Value)</span>
                                        </td>
                                        <td class="pr-0 text-right">
                                            @if (loAsset.state_id == 1 && loAsset.sale_in_company)
                                            {
                                                <a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm approveSale" title="Satışı Tamamla" data-id="@loAsset.row_guid">
                                                    <i class="flaticon2-check-mark"></i>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!--end::Table-->
                </div>
            </div>
        </div>
    </div>
}