@using Winvestate_Offer_Management_Models.Enums.Offer
@using Winvestate_Offer_Management_MVC.Classes
@model ViewModelBase;
@{
    decimal loMinimumAmountForOffer = 0;
}


@if (Model.Offers != null && Model.Offers.Any())
{
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-custom gutter-b" data-card="true">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">
                            Başvurular(@Model.Offers.Count Adet)
                        </h3>
                    </div>
                </div>
                <div class="card-body py-0">
                    <!--begin::Table-->
                    <div class="table-responsive">
                        <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_3">
                            <thead>
                                <tr class="text-uppercase">
                                    <th style="min-width: 150px"></th>
                                    <th style="min-width: 100px">Gayrimenkul</th>
                                    <th style="min-width: 100px">Başvuru Tarihi</th>
                                    <th style="min-width: 100px">Son Teklif Tarihi</th>
                                    <th style="min-width: 120px">Durum</th>
                                    <th style="min-width: 160px">Verilen Son Teklif (TL)</th>
                                    <th style="min-width: 100px">Minimum Teklif Yükseltme Tutarı (TL)</th>
                                    <th style="min-width: 160px">Son Teklifim (TL)</th>
                                    <th style="min-width: 160px">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var loOffer in Model.Offers)
                                {
                                    var loMaximumAmount = loOffer.max_offer_amount <= 0 ? loOffer.starting_amount.ToString("N0") : loOffer.max_offer_amount.ToString("N0");
                                    loMinimumAmountForOffer = loOffer.max_offer_amount <= 0 ? loOffer.starting_amount : loOffer.max_offer_amount + loOffer.minimum_increate_amout;
                                    var loloMyLastOffer = loOffer.price == null ? "-" : loOffer.price.Value.ToString("N0");
                                    var loloMyLastDate = loOffer.price == null ? "-" : loOffer.history.OrderByDescending(x => x.row_create_date).ToList()[0].row_create_date.ToString("F");

                                <tr>
                                    @if (loOffer.asset_state_id == 0)
                                    {
                                        <td>
                                            <a href="#" data-id="@loOffer.row_guid" data-minimum="@loMinimumAmountForOffer" class="btn btn-light-success font-weight-bold align-right openOfferPage">Yeni Teklif Ver</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            -
                                        </td>
                                    }
                                    <td>
                                        <a target="_blank" href="https://e-teklif.winvestate.com/Asset/AssetDetail?pId=@loOffer.asset_uuid" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">@string.Concat(loOffer.company_prefix, loOffer.asset_no) - @loOffer.asset_name</a>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loOffer.row_create_date.Value.ToString("f")</span>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loOffer.last_offer_date.ToString("F")</span>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loOffer.offer_state</span>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loMaximumAmount</span>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@loOffer.minimum_increate_amout.ToString("N0")</span>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg text-center">@loloMyLastOffer</span>
                                        <span class="text-muted font-weight-bolder d-block font-size-sm text-center">@loloMyLastDate</span>
                                    </td>
                                    <td>
                                        <a target="_blank" href="@Common.MespactLinkUrl/Document/showDocument?id=@loOffer.mespact_session_uuid" data-id="@loOffer.row_guid.ToString()" class="btn btn-icon btn-light btn-hover-primary btn-sm" title="Şartnameyi Görüntüle">
                                            <i class="flaticon-edit-1"></i>
                                        </a>
                                        <a href="/Offer/DownloadDocument?pId=@loOffer.mespact_session_uuid" class="btn btn-icon btn-light btn-hover-primary btn-sm mr-2" title="Şartnameyi İndir">
                                            <i class="flaticon-download"></i>
                                        </a>
                                        @if (loOffer.history.Count > 0)
                                        {
                                            <a href="#" id="show_offer_detail_@loOffer.id" class="btn btn-icon btn-light btn-hover-primary btn-sm showOtherOffers" data-id="@loOffer.id" title="Bu gayrimenkule ait tüm tekliflerimi görüntüle">
                                                <i class="flaticon-list"></i>
                                            </a>
                                            <div class="timeline timeline-2 mt-2 hide" id="offer_detail_@loOffer.id">
                                                <div class="timeline-bar"></div>
                                                @foreach (var offerHistory in loOffer.history.OrderByDescending(x => x.row_create_date))
                                                {
                                                    <div class="timeline-item">
                                                        <div class="timeline-badge"></div>
                                                        <div class="timeline-content d-flex align-items-center justify-content-between">
                                                            <span class="mr-3">
                                                                <a>@offerHistory.amount.ToString("N0") TL</a>
                                                            </span>
                                                            <span class="text-muted text-right">@offerHistory.row_create_date.ToString("F")</span>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        }

                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!--end::Table-->
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="kt_modal_new_offer" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bolder">Teklif Ekranı</h5>
            </div>
            <div class="modal-body">
                <form class="form form--label-right" id="newOfferForm">
                    <input type="hidden" id="offer_uuid" value="" />
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Teklif Tutarı:</label>
                        <div class="col-lg-9">
                            <input class="form-control priceInput" id="amount" type="text" name="amount" placeholder="" />
                            <span class="form-text text-danger" id="warningOfOffer"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="saveOffer">Teklifi Gönder</button>
            </div>
        </div>
    </div>
</div>